body,
#root {
  min-height: 100vh;
}

* {
  font-family: var(--fonts-system);
  line-height: 1.65;
  font-size: var(--fontSizes-15);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
